@tailwind base;
@tailwind components;
@tailwind utilities;

*{padding: 0;margin: 0;box-sizing: border-box;}

::-webkit-scrollbar{
  background:transparent;
  width:12px;
}
::-webkit-scrollbar-thumb{ 
  border-radius: 8px;
  background: #bd6f3c;
  border: 2px solid #000;
}

body{
  user-select: none;
  background-image: url('/images/sky.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#load{
  -webkit-text-stroke: 4px #000 ;
  animation: load 3s infinite;
}
@keyframes load{
  0%{opacity: 1;}
  50%{opacity: 0;}
  100%{opacity: 1;}
}

.hint{
background:
  linear-gradient(217deg, rgba(252, 82, 82, 0.8), rgb(255,0,0,0) 70.71%),
  linear-gradient(127deg, rgba(41, 247, 41, 0.8), rgb(0,255,0,0) 70.71%),
  linear-gradient(336deg, rgba(62, 62, 253, 0.8), rgb(0,0,255,0) 70.71%);
}