@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family:'CY';
  src:url('/ChenYuluoyan.ttf') format("TrueType");
}
*{
  padding: 0;
  margin: 0;
  box-sizing: 
  border-box;font-family: 'CY', serif;
}
::-webkit-scrollbar{
  background:transparent;
  width:12px;
}
::-webkit-scrollbar-thumb{ 
  border-radius: 8px;
  background: #bd6f3c;
  border: 2px solid #000;
}
body{
  background-image: url('/images/sky.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.load{
  animation: load 3s infinite;
}
@keyframes load{
  0%{opacity: 1;}
  50%{opacity: 0;}
  100%{opacity: 1;}
}
.card-shadow{
  box-shadow: 5px 5px 50px 10px #ffebae;
}
.aboutMe-shadow{
  box-shadow:
    1px 1px 0 #5249d8,
    3px 3px 0 #5f56dc,
    4px 4px 10px 5px #6c62f7;
}
.aboutMe-shadow2{
  box-shadow: 0 7px 10px 1px #6c62f7;
}
.box-shadow{
  box-shadow: 0 10px 10px #333;
}
.hint{
background:
  linear-gradient(217deg, rgba(252, 82, 82, 0.8), rgb(255,0,0,0) 70.71%),
  linear-gradient(127deg, rgba(41, 247, 41, 0.8), rgb(0,255,0,0) 70.71%),
  linear-gradient(336deg, rgba(62, 62, 253, 0.8), rgb(0,0,255,0) 70.71%);
}